/* Container to limit the height and overflow */
.client-logos-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 20px 0;
    /* background-color: #ffffff00; */
    /* Light background to contrast logos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    border-radius: 10px;

    /* Rounded corners */
}

.client-logos-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.client-logos {
    display: flex;
    animation: scroll-left 50s linear infinite;
    white-space: nowrap;
}

.client-logo {
    height: 40px;
    max-width: 150px;
    /* height: 40px; */
    margin: 0 15px;
    margin-left: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

}

/* .bank-logo:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
    filter: grayscale(0);
} */

/* Keyframes for smooth scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-90%);
    }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .client-logo {
        height: 36px;
        margin: 0 18px;
    }
}

@media (max-width: 480px) {
    .client-logo {
        height: 30px;
        margin: 0 15px;
    }
}

.client-logos {
    display: flex;
    animation: scroll-left 45s linear infinite;
    white-space: nowrap;
    /* Adjust the width to be large enough for consistent scrolling */
    width: calc(200%);
    /* Adjust as necessary based on the number of logos */
}

/* Duplicate logos for consistent scrolling */
.client-logos img {
    display: inline-block;
    /* Ensure all logos are treated equally */
}

/* Ensure that the logos fit into the bank-logos element */
.client-logos-wrapper {
    width: max-content;
    /* overflow: hidden; */
    /* Hide overflowing content */
}